<h1>angular forms development</h1>
<div class="container-fluid mb-5">
  <form #userForm="ngForm" *ngIf="!submitted" (ngSubmit)="onSubmit()" novalidate>
    <!-- {{userForm.value | json}}
    <hr/>
    {{userModel | json}} -->
    <div class="form-group">
      <label>Name</label>
      <input type="text" name="name" required class="form-control" [(ngModel)]="userModel.name" #un="ngModel"
      [class.is-invalid]="un.invalid && un.touched">
      <small class="text-danger" [class.d-none]="un.valid || un.untouched">Name is required.</small>
     </div>
     <!-- {{name.untouched}}
     {{cname.className}} -->
    <div class="form-group">
      <label>Email</label>
      <input type="text" required class="form-control" name="email" [(ngModel)]="userModel.email" #em="ngModel"
      [class.is-invalid]="em.invalid && em.touched">
      <small class="text-danger" [class.d-none]="em.valid || em.untouched">Email is required.</small>
    </div>
    <div class="form-group">
      <label>Mobile</label>
      <input type="text" required class="form-control" name="mobile" pattern="^\d{10}$" [(ngModel)]="userModel.mobile" #mo="ngModel"
      [class.is-invalid]="mo.invalid && mo.touched">
      <!-- <small class="text-danger" [class.d-none]="mo.valid || mo.untouched">Mobile is required.</small> -->
      <div *ngIf="mo.errors && (mo.invalid || mo.touched)">
        <small class="text-danger" *ngIf="mo.errors.required">Mobile number is required.</small>
        <small class="text-danger" *ngIf="mo.errors.pattern">Mobile number must be 10 digits.</small>
      </div>
      <div class="form-group">
        <label>Select List</label>
        <select (blur)="validateTopic(topic.value)" [class.is-invalid]="topicHasError && topic.touched"
        (change)="validateTopic(topic.value)" class="custom-select" required name="topic" #topic="ngModel" [(ngModel)]="userModel.topic">
        <option value="React">Please Select</option>
        <option *ngFor="let topic of topics">{{topic}}</option>
      </select>
      <small class="text-danger" [class.d-none]="!topicHasError || topic.untouched">Topic is required.</small>
      </div>
    </div>
    <button class="btn btn-primary" [disabled]="userForm.form.invalid || topicHasError">Submit</button>
  </form>
</div>